* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    font-family: Arial, Helvetica, sans-serif;
}

.container--content {
    width: 1158px;
    margin: 0 auto;
}

.container--full {
    width: 100%;
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
/*Listy u góry hedera*/
.header-lists {
    display: flex;
    justify-content: space-between;
}
.header-list {
    list-style: none;
}
.header-list li {
    display: inline-block;
    line-height: 2;
    font-size: 12px;
}
.header-list--left li {
    padding: 0 10px 0 0;
}
.header-list--right li {
    padding: 0 0 0 10px;
}

/*listwa na dole hedera z wyszukiwarka*/

.header-mbar {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}
.header-logo img {
    height: 50px;
}
.header-search__input input {
    width: 100%;
}

.header-search div {
    width: 79%;
    float: left;
    margin-right: 1%;
}

.header-mbar input {
    height: 40px;
    border-radius: 20px;
}
.header-search input[type="text"] {
    padding-left: 20px;
    border: solid 1px black;
}

.header-search input[type="submit"] {
    width: 20%;
    float: left;
    border: none;
    background-color: #2156be;
    color: white;
    font-weight: 600;
}
.header-search {
    flex-basis: 60%;
}
.header-category {
    position: relative;
    margin-right: 30px;
}
.header-category .fa-solid.fa-angle-down {
    position: absolute;
    top: 12px;
    right: -20px;
}

.header-mbar form::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

/* == MAIN == */
/* SLIDER */
.main-slider {
    position: relative;
    height:300px;
    background-color: chartreuse;
    overflow-x: hidden;
}
.main-slider--prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 20px;
    background-color: #2257bf3d;
    padding: 20px;
    border-radius: 50%;
    transition: .2s;
}
.main-slider--prev:hover {
    background-color: rgba(255, 255, 255, 0.753);
}
.main-slider--prev .fa-solid.fa-angle-down {
    font-size: 40px;
    color: #2257bf;
    /* position: absolute; */
    transform: rotate(90deg);
}
.main-slider--next {
    position: absolute;
    top: calc(50% - 25px);
    right: 20px;
    background-color: #2257bf3d;
    padding: 20px;
    border-radius: 50%;
    transition: .2s;
}
.main-slider--next .fa-solid.fa-angle-down {
    font-size: 40px;
    color: #2257bf;
    transform: rotate(-90deg);
}
.main-slider--next:hover {
    background-color: rgba(255, 255, 255, 0.753);
}
.main-slider_slides {
    height: 100%;
    width: 300%;
    list-style: none;
}
.main-slider_slide {
    float: left;
    width: calc(100%/3);
    height: 300px;
    padding: 0 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* Text i przycisk w slajdzie */
.main-slider_slide-detail {
    display: block;
    position: absolute;
    height: 300px;
    /* width: 700px; */
    padding: 80px 100px;
    background-color: #00000091;
}
.main-slider_slide-text-h {
    font-size: 40px;
    color: #fff;
}
.main-slider_slide-text-hhh {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}
.main-slider_action-button {
    display: inline-block;
    padding: 10px 25px;
    margin: 20px 0;
    border: 1px solid #2156be;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: #000;
    background-color: #ffffff94;
    transition: .3s linear;
}
.main-slider_action-button:hover {
    background-color: #2156be;
    color: #fff;
}
